<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable">

        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/tab/campaigns">
                    Campaigns & Tactics
                </ion-item>
                <ion-item nav-clear menu-close href="#/tab/page2">
                    Notifications
                </ion-item>
                <ion-item nav-clear menu-close
                        ng-click="logout()">
                    Sign Out
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

z