<ion-view title="Tactics ({{ basicInfo.tactics.length }})">
    <ion-nav-bar class="bar bar-header bar-dark">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear button-dark"
            ui-sref="{{ basicInfo.fromState }}">
            Back
        </a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <div ng-repeat="tactic in basicInfo.tactics">
                <ion-item class="item-stable"
                          ng-click="toggleGroup(tactic)"
                          ng-class="{active: isGroupShown(tactic)}">
                    <i ng-show="tactic.pacing > 90" class="ion-ios-checkmark" style="color:green;"></i>
                    <i ng-show="tactic.pacing < 76" class="ion-ios-close" style="color:red;"/></i>
                    <i ng-show="(tactic.pacing >= 76 && tactic.pacing <= 90) || tactic.status == 'COMPLETED'" class="ion-ios-close" style="visibility:hidden;"/></i>
                    <span class="row-header-name"> {{ tactic.name }} </span>
                    <i ng-show="tactic.status == 'LIVE'" class="ion-play" style="color:green;"></i>
                    <i ng-show="tactic.status == 'PAUSED'" class="ion-pause" style="color:red;"/></i>
                    <i ng-show="tactic.status == 'COMPLETED'" class="ion-ios-checkmark" style="color:black;"/></i>
                    <i class="icon" style="float: right"
                       ng-class="isGroupShown(tactic) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                    <span style="float: right" ng-show="tactic.daysLeft > 0">
                        {{ tactic.pacing }}%
                    </span>
                </ion-item>
                <ion-item class="item-accordion"
                    ng-show="isGroupShown(tactic)"
                    ng-include src="'templates/tactic.html'">
                </ion-item>
            </div>
      </ion-list>
    </ion-content>
</ion-view>