<ion-view view-title="Tactic">
    <ion-nav-bar class="bar bar-header bar-dark">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear button-dark"
            ui-sref="{{ basicInfo.fromState }}">
            Back
        </a>
    </ion-nav-buttons>
    <ion-content class="padding has-header">
        <div class="list card">
            <div class="item item-divider" ng-bind="basicInfo.tactic.name"></div>
            <div class="item item-body">
                <form class="list ng-pristine ng-valid">
                    <div>
                        <p>
                            <strong>Organization:</strong> {{ basicInfo.tactic.orgname }}</p>
                    </div>
                    <div>
                        <p>
                            <strong>Campaign:</strong> {{ basicInfo.tactic.campaignname }}</p>
                    </div>
                    <div>
                        <p>
                            <strong>Status:</strong> {{ basicInfo.tactic.status }}</p>
                    </div>
                    <div ng-show="['LIVE', 'PAUSED'].indexOf(basicInfo.tactic.status) > -1">
                        <p>
                            <ion-toggle toggle-class="toggle-balanced"
                                        ng-model="basicInfo.tactic.statusSwitch"
                                        ng-change="showConfirm(basicInfo.tactic)">&nbsp;
                            </ion-toggle>
                        </p>
                    </div>
                    <div>
                        <p>
                            <strong>Start Date:</strong> {{ basicInfo.tactic.startDate }}</p>
                    </div>
                    <div>
                        <p>
                            <strong>End Date:</strong> {{ basicInfo.tactic.endDate }}</p>
                    </div>
                    <div>
                        <p>
                            <strong>Pacing:</strong> {{ basicInfo.tactic.shortribs }} of {{ basicInfo.tactic.goal }}</p>
                    </div>
                    <div ng-show="basicInfo.tactic.goalType == 'IMPRESSIONS'">
                        <p>
                            <strong>Impressions:</strong> {{ basicInfo.tactic.shortribs }}</p>
                    </div>
                    <div ng-show="basicInfo.tactic.goalType == 'SPEND'">
                        <p>
                            <strong>Spend:</strong> {{ basicInfo.tactic.shortribs }}</p>
                    </div>
                </form>
                <strong ng-show="basicInfo.tactic.daysLeft > 0">
                    {{ basicInfo.tactic.daysLeft }} Days left.
                </strong>
            </div>
        </div>
    </ion-content>
</ion-view>

